body {
    background: url('/assets/destination/background-destination-desktop.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#side-right {
    width: 400px;
    text-align: center;
    flex-shrink: 2;
}

@media only screen and (max-width: 768px) {
    body {
        background: url('/assets/destination/background-destination-tablet.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    #side-right{
        width: 100%;
    }
    #side-left > * {
        text-align: center;
        margin: auto    
    }
    h1 {
        margin: 1rem 0 !important;
    }
}

@media only screen and (max-width: 370px) {
    body {
        background: url('/assets/destination/background-destination-mobile.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}