body {
    background: url('/assets/home/background-home-desktop.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    height: 200px;
    width: 200px;
    background-color: var(--white);
    border: none;
    box-shadow: none;
    border-radius: 50%;
    font-family: 'Bellefair';
    font-size: 32px;
    text-transform: uppercase;
    color: var(--dark);
    background-color: var(--light);
    cursor: pointer;
    margin: 80px;
}

h5 {
    margin: unset !important;
}

button:hover {
    outline: 50px solid rgba(11,13,23,0);
    animation-name: border-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#side-right {
    width: 400px;
    text-align: center;
    flex-shrink: 2;
}

@keyframes border-animation {
    from{outline: 50px solid rgba(11,13,23,0)}
    to{outline: 50px solid rgba(11,13,23,0.6)}
}

@media only screen and (max-width: 768px) {
    body {
        background: url('/assets/home/background-home-tablet.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    button {
        margin: auto;
        margin-bottom: 80px;
        cursor: none;
    }
    button:hover {
        outline: 30px solid rgba(11,13,23,0);
    }
    #side-right{
        width: 100%;
        margin-bottom: 200px;
    }
    #side-left > * {
        text-align: center;
        margin: auto    
    }
    h1 {
        margin: 1rem 0 !important;
    }
}

@media only screen and (max-width: 370px) {
    body {
        background: url('/assets/home/background-home-mobile.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}