.header{
    margin: 40px 0 0 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.hamburger {
    display: none;
    margin: 1rem 1.5rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--light);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(40px) brightness(120%);
    padding: 1rem 1.5rem;
    height: 100%;
}

.nav-item {
    margin-left: 6vw;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--light);
    position: relative;

}

.nav-link:hover{
    color: var(--medium);
    animation-name: 'nav-link-jump';
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes nav-link-jump {
    from {top: 0rem;}
    to {top: -0.3rem;}
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    header {
        margin:0 ;
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        backdrop-filter:  blur(40px) brightness(100%);
        width: 60%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.25);
        z-index: 10;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}